body{
    background-color: #0f0f0f;
}

.modelo1{
    background-color: #1679AB;
    color: white;
}
.modelo2{
    background-color: #C7253E;
    color: white;
}
.modelo3{
    background-color: #BF2EF0;
    color: white;
}